@import '~styles/lib.scss';

.worlds-list {
    .inner {
        padding: 110px 0;
    }

    .world {
        position: relative;
        margin-bottom: 50px;

        img {
            display: block;
            width: 60%;
            height: auto;

            margin: 0 auto;
        }

        h2 {
            position: absolute;
            top: 149px;
            left: 50%;
            transform: translateX(-50%);

            &.text-off {
                color: #0a0b28;
            }
        }

        &:nth-child(2) {
            img {
                width: 50%;
            }
        }

        h2 {
            position: relative;
        }

        h2 span {
            width: 100%;
            height: 2px;

            background: $white;

            position: absolute;
            top: 30px;
            left: 0;

            opacity: 0;
            transform: scaleX(0);
        }

        &:first-child {
            h2 {
                position: absolute;
                top: 149px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:nth-child(2) {
            h2 {
                position: absolute;
                top: 149px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:nth-child(3) {
            h2 {
                position: absolute;
                top: 179px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:nth-child(4) {
            h2 {
                position: absolute;
                top: 189px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:nth-child(5) {
            h2 {
                position: absolute;
                top: 179px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
