//BASE COLORS
$white: #fff;
$black: #000;

//GRADIENTS
$gradient-base-color-1: #0a0b28;
$gradient-base-color-2: #00114b;
$gradient-base-color-3: #1b366d;
$gradient-base-color-4: #72769b;
$gradient-base-color-5: #ea6e32;
