$font-family-base     : "brandon-grotesque", sans-serif;

$font-weight-regular  : 400;
$font-weight-medium   : 500;
$font-weight-bold     : 700;
$font-weight-black    : 900;

$font-size-base       : 16px;
$font-size-huge       : 5.125rem;
$font-size-world      : 2.813rem;
$font-size-title      : 2.5rem;
$font-size-footer     : 2rem;
$font-size-subTitle   : 1.75rem;
$font-size-text       : $font-size-subTitle;
$font-size-placeholder: $font-size-subTitle;
$font-size-button     : $font-size-subTitle;
