<div class="worlds">
  <div class="inner">
    <app-header :map-display.sync="mapDisplay" :slider-display.sync="sliderDisplay"></app-header>

    <worlds-map v-if="mapDisplay && !sliderDisplay" :worlds.sync="worlds"></worlds-map>
    <worlds-list v-if="!mapDisplay && !sliderDisplay" :worlds.sync="worlds" :current-world.sync="currentWorld" :slider-display.sync="sliderDisplay"></worlds-list>
    <slider v-if="sliderDisplay" :worlds.sync="worlds" :current-world.sync="currentWorld"></slider>
  </div>

  <app-footer></app-footer>
</div>
