@import '~styles/lib.scss';

footer {
    font-family: $brandon;
    position: fixed;
    bottom: 0;
    z-index: 300;
    height: 44px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);

    .inner {
        display: block;
        text-align: center;

        a {
            display: inline-block;

            font-family: $brandon;
            text-transform: uppercase;
            text-align: center;
            font-size: $font-size-base;
            text-decoration: none;
            line-height: 44px;

            &.middle {
                margin: 0 40px;
            }
        }
    }
}
